@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Neptun Hotel</h1>
    <p class="lead">Do you want to collect some great memories in Gdańsk?</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book now! &raquo;</a></p>
</div>
